<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings"
            type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Whorl.Properties.Settings"
                type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings"
            type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Whorl.Properties.Settings"
                type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <userSettings>
        <Whorl.Properties.Settings>
            <setting name="FilesFolder" serializeAs="String">
                <value>C:\WhorlFilesDev</value>
            </setting>
            <setting name="ReplayIntervalSeconds" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="TraceMode" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImprovisationLevel" serializeAs="String">
                <value>0.05</value>
            </setting>
            <setting name="RecomputeInterval" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ImproviseOnOutlineType" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImproviseColors" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImproviseShapes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImprovisePetals" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ImproviseBackground" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="SpinRate" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="RevolveRate" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="AnimationRate" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SmoothAnimationSteps" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="MinPatternSize" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="ImproviseParameters" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ImprovDamping" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="ImproviseTextures" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TexturesFolder" serializeAs="String">
                <value>C:\WhorlFilesDev\Textures</value>
            </setting>
            <setting name="MaxSavedImprovs" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="RenderFilesFolder" serializeAs="String">
                <value />
            </setting>
            <setting name="RenderWidth" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="QualitySize" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="SavedImageSizes" serializeAs="String">
                <value>1090x1090</value>
            </setting>
            <setting name="SaveDesignThumbnails" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DesignThumbnailHeight" serializeAs="String">
                <value>150</value>
            </setting>
            <setting name="BufferSize" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="ExactOutline" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="MaxLoopCount" serializeAs="String">
                <value>100000</value>
            </setting>
            <setting name="OptimizeExpressions" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="DraftSize" serializeAs="String">
                <value>3</value>
            </setting>
        </Whorl.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <Whorl.Properties.Settings>
            <setting name="DesignPatternsFileName" serializeAs="String">
                <value>DesignPatterns.config</value>
            </setting>
            <setting name="PatternChoicesFileName" serializeAs="String">
                <value>PatternChoices.config</value>
            </setting>
            <setting name="DefaultPicWidth" serializeAs="String">
                <value>1596</value>
            </setting>
            <setting name="DefaultPicHeight" serializeAs="String">
                <value>809</value>
            </setting>
            <setting name="DesignThumbnailsFolder" serializeAs="String">
                <value>DesignThumbnails</value>
            </setting>
            <setting name="DefaultPatternFileName" serializeAs="String">
                <value>DefaultPattern.config</value>
            </setting>
        </Whorl.Properties.Settings>
    </applicationSettings>
    <appSettings>
        <add key="aspnet:RoslynCompilerLocation" value="roslyn"/>
    </appSettings>
    <system.codedom>
        <compilers>
            <compiler language="c#;cs;csharp" extension=".cs"
                type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701"/>
            <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
                type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
                warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
        </compilers>
    </system.codedom>
</configuration>
